.container{max-width:1110px;margin:0 auto}

@font-face {
  font-family: 'MyCustomFont';
  src: url('{{ "./SofiaProBold.woff" | asset_url }}') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyCustomFontBold';
  src: url('{{ "SofiaProRegular" | asset_url }}') format('woff');
  font-weight: bold;
  font-style: normal;
}